<a href="https://colab.research.google.com/github/OsmarValenzuelaMendoza/1er_laboratorio/blob/master/Prob_12_propuesto_Valenzuela_Mendoza_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime

In [2]:
today= datetime.now()

codigos = []
apellidos = []
puntajes = []
sexos = []

def Ingreso():
    
    i = 0
    while  True :
        print('Hora : ', today)
        print('--- Datos de los alumnos ---')
        codigo = str(input('Ingrese el código: '))
        apellido = str(input('Ingrese el apellido: '))
        puntaje = int(input('Ingrese la puntaje: '))
        sexo = str(input('Ingrese la sexo: '))

        codigos.append(codigo)
        apellidos.append(apellido)
        puntajes.append(puntaje)
        sexos.append(sexo)

        print()
        print('Total de alumnos ingresados: ',len(codigos))
        print()

        # El programa le preguntará constantemente si desea seguir añadiendo personas
        seguir = input('DESEA SEGUIR INGRESANDO DATOS(S/N): ')
        seguir = seguir.upper()
        i = i+1
        # Al escribir una letra diferente a 'S' o 's' el programa se cortará
        if seguir != 'S' :
                break

In [3]:
Ingreso()

Hora :  2020-07-14 01:42:34.541889
--- Datos de los alumnos ---
Ingrese el código: 20170244B
Ingrese el apellido: VALENZUELA
Ingrese la puntaje: 23
Ingrese la sexo: M

Total de alumnos ingresados:  1

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-14 01:42:34.541889
--- Datos de los alumnos ---
Ingrese el código: 20174452J
Ingrese el apellido: JIMENEZ
Ingrese la puntaje: 34
Ingrese la sexo: F

Total de alumnos ingresados:  2

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-14 01:42:34.541889
--- Datos de los alumnos ---
Ingrese el código: 20178976K
Ingrese el apellido: MENDOZA
Ingrese la puntaje: 12
Ingrese la sexo: M

Total de alumnos ingresados:  3

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-14 01:42:34.541889
--- Datos de los alumnos ---
Ingrese el código: 20178946L
Ingrese el apellido: ZANABRIA
Ingrese la puntaje: 29
Ingrese la sexo: M

Total de alumnos ingresados:  4

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-14 01:42:34.541889
--- Datos de los alumnos ---
Ingrese el código: 20176524D
Ingrese el apellido: ROJAS
Ingrese la puntaje: 16
Ingrese la sexo: F

Total de alumnos ingresados:  5

DESEA SEGUIR INGRESANDO DATOS(S/N): N

In [4]:
def display(array,mensaje):
    print(mensaje)
    
    s = [[str(e) for e in row] for row in array]
    lens = [max(map(len, col)) for col in zip(*s)]
    fmt = '\t'.join('{{:{}}}'.format(x) for x in lens)
    table = [fmt.format(*row) for row in s]
    print('\n'.join(table))

# Reporte 1

In [5]:
def REPORTE_1():

    reporte = [['Codigos', 'Apellidos', 'Puntajes']]
    for i in range(len(codigos)):
        m = [codigos[i] , apellidos[i] ,  puntajes[i]]
        reporte.append(m)

    display(reporte, 'REPORTE 1: \n')

In [6]:
REPORTE_1()

REPORTE 1:

Codigos  	Apellidos 	Puntajes
20170244B	VALENZUELA	23
20174452J	JIMENEZ   	34
20178976K	MENDOZA   	12
20178946L	ZANABRIA  	29
20176524D	ROJAS     	16

# Reporte 2

In [7]:

def REPORTE_2():
    final = [['Apellido' , 'Sexo']]
    reporte = []

    for i in range(len(codigos)):
        union = [apellidos[i], sexos[i] ]
        reporte.append(union)
    reporte.sort(key = lambda x : x[1])

    for i in range(len(reporte)):
        final.append(reporte[i])

    display(final, 'REPORTE 3\n')

In [8]:
REPORTE_2()

REPORTE 3

Apellido  	Sexo
JIMENEZ   	F
ROJAS     	F
VALENZUELA	M
MENDOZA   	M
ZANABRIA  	M

# Reporte 3

In [9]:
def REPORTE_3():
    
    indice_pro = []
    indice_no = []
    for i, puntaje in enumerate(puntajes):
        if puntaje > 20 :
            indice_pro.append(i)
        else :
            indice_no.append(i)
    print('ALUMNOS PROMOVIDOS')
    print('==========================\n')
    for i in indice_pro:
        print('Apellido:  ', apellidos[i], ' Puntaje:  ', puntajes[i])
    
    print()
    print('ALUMNOS NO  PROMOVIDOS')
    print('===============================\n')
    for i in indice_no:
        print('Apellido:  ', apellidos[i], ' Puntaje:  ', puntajes[i])

In [10]:
REPORTE_3()

ALUMNOS PROMOVIDOS
==========================

Apellido:   VALENZUELA  Puntaje:   23
Apellido:   JIMENEZ  Puntaje:   34
Apellido:   ZANABRIA  Puntaje:   29

ALUMNOS NO  PROMOVIDOS
===============================

Apellido:   MENDOZA  Puntaje:   12
Apellido:   ROJAS  Puntaje:   16