<a href="https://colab.research.google.com/github/OsmarValenzuelaMendoza/1er_laboratorio/blob/master/problema_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from datetime import datetime
import pandas as pd
import numpy as np

#Crear la base de datos con las columnas o atributos 
alumnos = pd.DataFrame(columns = ['Codigo', 'Nombre', 'Edad', 'Facultad',])
today = datetime.now()


#Primera funcion de INGRESO DE DATOS

def Ingreso():
    
    i = 0
    while  True :
        print('Hora : ', today)
        print('--- Datos de los alumnos ---')
        codigo = input('Ingrese el código: ')
        nombre = input('Ingrese el nombre: ')
        edad = input('Ingrese la edad: ')
        facultad = input('Ingrese la facultad: ')

        alumnos.loc[i]= [codigo, nombre, edad, facultad]
        

        print()
        print('Total de alumnos ingresados: ', alumnos.shape[0])
        print()

        # El programa le preguntará constantemente si desea seguir añadiendo personas
        seguir = input('DESEA SEGUIR INGRESANDO DATOS(S/N): ')
        seguir = seguir.upper()
        i = i+1
        # Al escribir una letra diferente a 'S' o 's' el programa se cortará
        if seguir != 'S' :
                break

In [5]:
Ingreso()

Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 1
Ingrese el nombre: 1
Ingrese la edad: 1
Ingrese la facultad: 1

Total de alumnos ingresados:  1

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 1
Ingrese el nombre: 1
Ingrese la edad: 1
Ingrese la facultad: 1

Total de alumnos ingresados:  2

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 1
Ingrese el nombre: 1
Ingrese la edad: 1
Ingrese la facultad: 1

Total de alumnos ingresados:  3

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 1
Ingrese el nombre: 1
Ingrese la edad: 1
Ingrese la facultad: 1

Total de alumnos ingresados:  4

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 1
Ingrese el nombre: 1
Ingrese la edad: 1
Ingrese la facultad: 1

Total de alumnos ingresados:  5

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-09 20:17:52.810288
--- Datos de los alumnos ---
Ingrese el código: 20173457H
Ingrese el nombre: Marco
Ingrese la edad: 25
Ingrese la facultad: mecanica

Total de alumnos ingresados:  6

DESEA SEGUIR INGRESANDO DATOS(S/N): n

In [6]:
#1er Reporte de los alumnos, solo mostrará el total de alumnos

def reporte(alumnos):
    print()
    print('REPORTE DE ALUMNOS REGISTRADOS')
    
    return alumnos

In [7]:
reporte(alumnos)

REPORTE DE ALUMNOS REGISTRADOS

      Codigo Nombre Edad  Facultad
0          1      1    1         1
1          1      1    1         1
2          1      1    1         1
3          1      1    1         1
4          1      1    1         1
5  20173457H  Marco   25  mecanica

In [8]:
 # 2do Reporte : Promedio de edades de alumnos por facultad

def promedio():
    print('REPORTE DEL PROMEDIO DE EDADES DE ALUMNOS POR FACULTAD')
    print()
    alumnos.Edad = alumnos.Edad.astype(np.int64)
    # Aqui es donde agrupamos por facultad y agregamos el promedio de edad por facultad
    promedio_df = alumnos.groupby('Facultad')['Edad'].mean().reset_index()
    promedio_df = pd.DataFrame(promedio_df)
    
    # le presentará la tabla con la facultad y el promedio de edades por facultadd
    return promedio_df

In [9]:
promedio()

REPORTE DEL PROMEDIO DE EDADES DE ALUMNOS POR FACULTAD

   Facultad  Edad
0         1     1
1  mecanica    25

In [12]:
# 3er reporte: Alumno por facultad con la mayor edad y cual fue su registro
def mayor():
    print('Registro 3 : ALUMNO CON LA MAYOR EDAD\n')
    registro = alumnos.loc[alumnos.Edad == alumnos.Edad.max()]
    registro = pd.DataFrame(registro)

    print('Nombre : ', registro.Nombre.values[0])
    print('Facultad: ', registro.Facultad.values[0])
    print( 'Edad :  ', registro.Edad.values[0])
    print('Posicion de registro:  ', registro.index[0]+1 , '\n', )
    
    return registro

In [13]:
mayor()

Registro 3 : ALUMNO CON LA MAYOR EDAD

Nombre :  Marco
Facultad:  mecanica
Edad :   25
Posicion de registro:   6

      Codigo Nombre  Edad  Facultad
5  20173457H  Marco    25  mecanica