<a href="https://colab.research.google.com/github/OsmarValenzuelaMendoza/1er_laboratorio/blob/master/problema_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
boletos = pd.DataFrame({'Tipo': ['A', 'B', 'C', 'D'],  'Costo': [40,30,25,22]})
boletos

  Tipo  Costo
0    A     40
1    B     30
2    C     25
3    D     22

In [3]:
vendedores = pd.DataFrame( 
    columns = [
               'TipoVendedor',
               'Cantidad Boletos', 
               'Tipo Boleto',
               'Total recaudado','Ganancia del vendedor'
               ] )

In [4]:
today = datetime.now()
print('Hora : ', today)
print('--- Buenos dias ---')
print('Los boletos que pueden ser vendidos son : A, B, C y D.')
cantidad_vendedores  = input('Ingrese la cantidad de vendedores : ')

def Ingreso():
    i = 0
    while  True :
        print('Ahora registre las ventas de cada vendedor: ')
        print()


        tipo  = input('Número de vendedor: ')
        cantidad = input('Cantidad de boletos vendidos: ')
        boleto = input('Tipo de boleto: ')

        cantidad = int(cantidad)
        if boleto  == 'A'  :
            total = cantidad*40
            recaudacion = total * 0.02 
        elif boleto == 'B':
            total = cantidad *30
            recaudacion = total * 0.03
        elif boleto == 'C':
            total = cantidad *25 
            recaudacion = total * 0.04
        elif boleto == 'D':
            total = cantidad *22
            recaudacion = total * 0.05

        vendedores.loc[i]= [tipo, cantidad, boleto, total, recaudacion]
        
        print()
        seguir = input('DESEA SEGUIR INGRESANDO DATOS(S/N): ')
        seguir = seguir.upper()
        i = i+1
        if seguir != 'S' :
                break

Hora :  2020-07-09 18:49:07.049376
--- Buenos dias ---
Los boletos que pueden ser vendidos son : A, B, C y D.
Ingrese la cantidad de vendedores : 3

In [6]:
Ingreso()

Ahora registre las ventas de cada vendedor:

Número de vendedor: 1
Cantidad de boletos vendidos: 2
Tipo de boleto: A

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Ahora registre las ventas de cada vendedor:

Número de vendedor: 1
Cantidad de boletos vendidos: 3
Tipo de boleto: B

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Ahora registre las ventas de cada vendedor:

Número de vendedor: 2
Cantidad de boletos vendidos: 2
Tipo de boleto: A

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Ahora registre las ventas de cada vendedor:

Número de vendedor: 2
Cantidad de boletos vendidos: 3
Tipo de boleto: C

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Ahora registre las ventas de cada vendedor:

Número de vendedor: 3
Cantidad de boletos vendidos: 2
Tipo de boleto: A

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Ahora registre las ventas de cada vendedor:

Número de vendedor: 3
Cantidad de boletos vendidos: 4
Tipo de boleto: D

DESEA SEGUIR INGRESANDO DATOS(S/N): N

In [9]:
vendedores

  TipoVendedor Cantidad Boletos  ... Total recaudado Ganancia del vendedor
0            1                2  ...              80                   1.6
1            1                3  ...              90                   2.7
2            2                2  ...              80                   1.6
3            2                3  ...              75                   3.0
4            3                2  ...              80                   1.6
5            3                4  ...              88                   4.4

[6 rows x 5 columns]

In [7]:
def primero():
    primero = vendedores.groupby('Tipo Boleto')['Cantidad Boletos','Total recaudado'].sum().reset_index()
    primero = pd.DataFrame(primero)
    return primero

In [8]:
primero()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

  Tipo Boleto  Cantidad Boletos  Total recaudado
0           A                 6              240
1           B                 3               90
2           C                 3               75
3           D                 4               88

In [10]:
def segundo():
    segundo = vendedores.groupby('TipoVendedor')['Cantidad Boletos'].sum().reset_index()
    segundo = pd.DataFrame(segundo)
    return segundo

In [11]:
segundo()

  TipoVendedor  Cantidad Boletos
0            1                 5
1            2                 5
2            3                 6

In [12]:
def tercero():
    tercero = vendedores.groupby('TipoVendedor')['Ganancia del vendedor'].sum().reset_index()
    tercero_2 = vendedores.groupby('TipoVendedor')['Total recaudado'].sum().reset_index()
    tercero = pd.DataFrame(tercero)
    tercero['Total recaudado'] = tercero_2['Total recaudado']
    return tercero

In [13]:
tercero()

  TipoVendedor  Ganancia del vendedor  Total recaudado
0            1                    4.3              170
1            2                    4.6              155
2            3                    6.0              168

In [16]:
def cuarto():
    cuarto = vendedores.groupby('TipoVendedor')['Ganancia del vendedor'].sum().reset_index()
    cuarto = pd.DataFrame(cuarto)
    cuarto_2 = vendedores.groupby('TipoVendedor')['Total recaudado'].sum().reset_index()
    cuarto['Total recaudado'] = cuarto_2['Total recaudado']
    cuarto['Porcentaje ganancia'] = cuarto['Ganancia del vendedor'] / cuarto['Total recaudado'] 
    cuarto = cuarto.drop(['Ganancia del vendedor', 'Total recaudado'], axis = 1)
    
    return cuarto

In [17]:
cuarto()

  TipoVendedor  Porcentaje ganancia
0            1             0.025294
1            2             0.029677
2            3             0.035714

In [18]:
def quinto():
    quinto = vendedores.groupby(['TipoVendedor', 'Tipo Boleto'])['Cantidad Boletos'].sum().reset_index()
    quinto = pd.DataFrame(quinto)
    return quinto
    indice = np.where(  quinto['Cantidad Boletos'] ==  quinto['Cantidad Boletos'].max())[0][0]

    max_vendedor = quinto['TipoVendedor'][indice]
    tipo_boleto_max = quinto['Tipo Boleto'][indice]
    cantidad_boletos_max = quinto['Cantidad Boletos'][indice]
    print()
    print('El vendedor numero ', max_vendedor, ' vendio ', cantidad_boletos_max /
          'boletos. Y esto es la cantidad maxima de boletos vendidos y el tipo de boleto es ' /
          tipo_boleto_max)

In [19]:
quinto()

  TipoVendedor Tipo Boleto  Cantidad Boletos
0            1           A                 2
1            1           B                 3
2            2           A                 2
3            2           C                 3
4            3           A                 2
5            3           D                 4

In [20]:
def sexto():
    sexto = vendedores.groupby(['TipoVendedor', 'Tipo Boleto'])['Cantidad Boletos'].sum().reset_index()
    sexto = pd.DataFrame(sexto)
    indice = np.where(sexto['Cantidad Boletos'] ==    sexto['Cantidad Boletos'].min())[0][0]

    min_vendedor = sexto['TipoVendedor'][indice]
    tipo_boleto_min = sexto['Tipo Boleto'][indice]
    cantidad_boletos_min = sexto['Cantidad Boletos'][indice]
    print()
    print('El vendedor numero ', min_vendedor, ' vendio ', cantidad_boletos_min/
            'boleto. Y esto es la cantidad minima de boletos vendidos y el tipo de boleto es  '/
            tipo_boleto_min)

In [21]:
sexto()

El vendedor numero  1  vendio  2 boleto. Y esto es la cantidad minima de boletos vendidos y el tipo de boleto es   A

In [22]:
def setima():
    indice_max = np.where(vendedores['Total recaudado'] ==   vendedores['Total recaudado'].max())[0][0]
    indice_min = np.where( vendedores['Total recaudado'] ==  vendedores['Total recaudado'].min())[0][0]
    print()
    print('La maxima venta recaudada fue ', vendedores['Total recaudado'][indice_max])
    print('La minima venta recaudada fue ', vendedores['Total recaudado'][indice_min])

In [24]:
setima()

La maxima venta recaudada fue  90
La minima venta recaudada fue  75

In [27]:
def octava():
    octava = vendedores.groupby('TipoVendedor')['Total recaudado'].sum().reset_index()
    octava = pd.DataFrame(octava)
    print()
    octava = octava.sort_values('Total recaudado', ascending = True)
    return octava

In [28]:
octava()

  TipoVendedor  Total recaudado
1            2              155
2            3              168
0            1              170