<a href="https://colab.research.google.com/github/OsmarValenzuelaMendoza/1er_laboratorio/blob/master/problema_7_Valenzuela_Mendoza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime

#Crear la base de datos con las columnas o atributos 
today = datetime.now()
codigos = []
nombres = []
edades = []
facultades = []


#Primera funcion de INGRESO DE DATOS

def Ingreso():
    
    i = 0
    while  True :
        print('Hora : ', today)
        print('--- Datos de los alumnos ---')
        codigo = str(input('Ingrese el código: '))
        nombre = str(input('Ingrese el nombre: '))
        edad = int(input('Ingrese la edad: '))
        facultad = str(input('Ingrese la facultad: '))

        codigos.append(codigo)
        nombres.append(nombre)
        edades.append(edad)
        facultades.append(facultad)

        print()
        print('Total de alumnos ingresados: ',len(codigos))
        print()

        # El programa le preguntará constantemente si desea seguir añadiendo personas
        seguir = input('DESEA SEGUIR INGRESANDO DATOS(S/N): ')
        seguir = seguir.upper()
        i = i+1
        # Al escribir una letra diferente a 'S' o 's' el programa se cortará
        if seguir != 'S' :
                break

In [ ]:
Ingreso()

Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20170244B
Ingrese el nombre: OSMAR VALENZUELA
Ingrese la edad: 20
Ingrese la facultad: SISTEMAS

Total de alumnos ingresados:  1

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20177524C
Ingrese el nombre: JOSE RODRIGUEZ
Ingrese la edad: 21
Ingrese la facultad: SISTEMAS

Total de alumnos ingresados:  2

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20172345J
Ingrese el nombre: JEREMY
Ingrese la edad: 23
Ingrese la facultad: INDUSTRIAL

Total de alumnos ingresados:  3

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20173456H
Ingrese el nombre: DAVID
Ingrese la edad: 24
Ingrese la facultad: MECANICA

Total de alumnos ingresados:  4

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20173412H
Ingrese el nombre: JESUS
Ingrese la edad: 19
Ingrese la facultad: INDUSTRIAL

Total de alumnos ingresados:  5

DESEA SEGUIR INGRESANDO DATOS(S/N): S
Hora :  2020-07-13 02:58:26.719936
--- Datos de los alumnos ---
Ingrese el código: 20173457H
Ingrese el nombre: MARCO
Ingrese la edad: 25
Ingrese la facultad: MECANICA

Total de alumnos ingresados:  6

DESEA SEGUIR INGRESANDO DATOS(S/N): N

In [ ]:
total = [['CODIGO', 'NOMBRE', 'EDAD', 'FACULTAD']]
for i in range(len(codigos)):
    m = [codigos[i], nombres[i], edades[i], facultades[i]]
    total.append(m)

[['CODIGO', 'NOMBRE', 'EDAD', 'FACULTAD'],
 ['20170244B', 'OSMAR VALENZUELA', 20, 'SISTEMAS'],
 ['20177524C', 'JOSE RODRIGUEZ', 21, 'SISTEMAS'],
 ['20172345J', 'JEREMY', 23, 'INDUSTRIAL'],
 ['20173456H', 'DAVID', 24, 'MECANICA'],
 ['20173412H', 'JESUS', 19, 'INDUSTRIAL'],
 ['20173457H', 'MARCO', 25, 'MECANICA']]

In [ ]:
#1er Reporte de los alumnos, solo mostrará el total de alumnos

def display(array,mensaje):
    print(mensaje)
    
    s = [[str(e) for e in row] for row in array]
    lens = [max(map(len, col)) for col in zip(*s)]
    fmt = '\t'.join('{{:{}}}'.format(x) for x in lens)
    table = [fmt.format(*row) for row in s]
    print('\n'.join(table))

# Reporte 1: Total de alumnos

In [ ]:
def REPORTE_1():
    display(total, 'REPORTE 1: TOTAL ALUMNOS REGISTRADOS\n')

In [ ]:
REPORTE_1()

REPORTE 1: TOTAL ALUMNOS REGISTRADOS

CODIGO   	NOMBRE          	EDAD	FACULTAD
20170244B	OSMAR VALENZUELA	20  	SISTEMAS
20177524C	JOSE RODRIGUEZ  	21  	SISTEMAS
20172345J	JEREMY          	23  	INDUSTRIAL
20173456H	DAVID           	24  	MECANICA
20173412H	JESUS           	19  	INDUSTRIAL
20173457H	MARCO           	25  	MECANICA

# Reporte 2 : Promedio de edades por facultad

In [ ]:
def REPORTE_2():
    def unique(list_):  
        list_set = set(list_)     
        unique_list = (list(list_set)) 
        return unique_list

    facultad_list = unique(facultades)

    indices_total = []

    #Encontrar los indices por facultad
    
    for facultad in facultad_list:
        indices = []
        i=0
        for alumno in total:
            if alumno[3] == facultad:
                indices.append(i)
            i = i+1
        indices_total.append(indices)

    # Conociendo los indices por facultad, encontramos el promedio
    # por facultad

    promedio_facultad = []   
    for i in indices_total:
        promedio = []
        for j in i :
            promedio.append(edades[int(j-1)])
        promedio_facultad.append(sum(promedio)/float(len(promedio)))


    display_promedio = [['FACULTAD', 'EDAD']]
    for i in range(len(promedio_facultad)):
        m = [facultad_list[i], promedio_facultad[i]]
        display_promedio.append(m)


    display(display_promedio,'REPORTE 2: PROMEDIO DE EDADES POR FACULTAD\n')

In [ ]:
REPORTE_2()

REPORTE 2: PROMEDIO DE EDADES POR FACULTAD

FACULTAD  	EDAD
MECANICA  	24.5
INDUSTRIAL	21.0
SISTEMAS  	20.5

# Reporte 3: Datos del alumno con mayor edad

In [ ]:
def REPORTE_3():
    
    for i,edad  in enumerate(edades):
            edad = int(edad)
            if edad == maxi:
                indice = i
    print('Registro 3 : ALUMNO CON LA MAYOR EDAD\n')
    print('Codigo : ', codigos[indice])
    print('Nombre : ', nombres[indice])
    print('Edad :  ', edades[indice])
    print('Facultad: ', facultades[indice])
    print('Posicion de registro:  ', indice+1 )

In [ ]:
REPORTE_3()

Registro 3 : ALUMNO CON LA MAYOR EDAD

Codigo :  20173457H
Nombre :  MARCO
Edad :   25
Facultad:  MECANICA
Posicion de registro:   6